* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.topo{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
}
.menu{
    background-color: olivedrab;
    overflow: hidden;
;
}
.menu a {
    color: whitesmoke;
    padding: 14px 16px;
    float: left;
    display: block;
}
.coluna-50 {
    float: left;
    width: 50%;
    padding: 15px;
}
.button {
    background-color: darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    height: 35px;
    width: 35px;
    margin: 0;
    border: 0;
}
.p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.Cabeçalho {
    background-color:darkolivegreen;
    text-align: center;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    padding: 20px;
}
